* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body {
    background-color: rgb(233, 238, 231);
}
.hh {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.hh-input{
    border-radius: 2px;
    border: 1px solid gray;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}


.hh-button {
    cursor: pointer;
    margin-left: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: rgb(16, 113, 143);
    font-size: 20px;
    color: #fff;
    height: 40px;
    width: 100px;
}

.hh-button:hover{
    background-color: rgb(25, 127, 158);
    transition: 0.3s;
}

.hh-a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.results {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    margin-left: 463px;
}

.results-p1 {
    font-weight: bold;
    padding-left: 5px;
}

.results-p2 {
    padding-left: 40px;
}
.card{
    background-color: #fff;
    margin-left: 32%;
    margin-bottom: 30px ;
    width: 500px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.position {
    padding: 20px 0px 0px 20px;
    font-size: 24px;
    color: rgb(44, 73, 204);
    font-weight: bold;
}

.oplata {
    display: flex;
    font-weight: bold;
    padding: 15px 0px 0px 20px;
    font-size: 16px;
}

.currency {
    padding-left: 3px;
}

.opit {
    display: flex;
    padding: 10px 0px 0px 20px;
    font-size: 16px;
}

.opit1 {
    color: gray;
}
.experience {
    padding-left: 10px;
    font-weight: bold;
}

.job {
    font-size: 16px;
    display: flex;
    padding: 12px 0px 20px 20px;
}

.last {
    color: gray;
}

.last-job {
    margin-left: 5px;
    font-weight: bold;
}

.change{
    display: flex;
    justify-content: center;
    margin-right: 330px;
    margin-bottom: 20px;
}

.resume-button {
    background-color: rgb(54, 114, 245);
    color: #fff;
    font-weight: bold;
    width: 90px;
    height: 40px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #fff;
}

.resume-button:hover {
    background-color: rgb(49, 101, 212);
    transition: 0.5s;
}

.vacancies-button {
    margin-left: 10px;
    background-color: #fff;
    color: rgb(54, 114, 245);
    font-weight: bold;
    width: 90px;
    height: 40px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid rgb(54, 114, 245);
}

.vacancies-button:hover {
    background-color: #f3f2f2;
    transition: 0.5s;
}

.results1 {
    margin-left: 423px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}