<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Практика</title>-->
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='css/vacancies.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="hh">-->
<!--        <input class="hh-input" type="text" placeholder="Введите название профессии" required>-->
<!--        <a class="hh-a" href="#"> -->
<!--            <button class="hh-button">Поиск</button>-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="results">-->
<!--        <p class="results-p">Результаты по запросу:</p>-->
<!--        <p class="results-p1">курьер</p>-->
<!--    </div>-->
<!--    <div class="results1">-->
<!--        <p class="results-p2">Найдено:</p>-->
<!--        <p class="results-p1">40 вакансий</p>-->
<!--    </div>-->
<!--    <div class="change">-->
<!--        <a class="change-resume" href="vacanies.html"><button class="resume-button">Вакансии</button></a>-->
<!--        <a class="change-vacancies" href="resumes.html"><button class="vacancies-button">Резюме</button></a>-->
<!--    </div>-->
<!--    <div class="vacancies">-->
<!--        <div class="filters">-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">Полная занятость</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">Частичная занятость</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">полный день</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">гибкий график</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">сменный график</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">не требуется</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">1-3 года</p>-->
<!--            </div>-->
<!--            <div class="filter">-->
<!--                <input type="checkbox">-->
<!--                <p class="filter-p">3-6 лет</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--            <p class="position">Курьер Яндекс Еда</p>-->
<!--            <div class="line">-->
<!--                <p class="salary">от 120000 P на руки</p>-->
<!--                <p class="experience">Без опыта</p>-->
<!--            </div>-->
<!--            <div class="job">-->
<!--                <p class="employment">Полная занятость,</p>-->
<!--                <p class="schedule">полный день</p>-->
<!--            </div>-->
<!--            <div class="company-line">-->
<!--                <p class="company1">Компания:</p>-->
<!--                <p class="company">Яндекс Еда</p>-->
<!--            </div>-->
<!--            <div class="address-line">-->
<!--                <p class="address1">Наш адрес:</p>-->
<!--                <p class="address">Москва, улица Сущевский Вал, 64</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <script>-->
<!--        const input = document.querySelector('.hh-input');-->
<!--        const link = document.querySelector('.hh-a');-->

<!--        input.addEventListener('input', () => {-->
<!--            if (input.value.trim() !== '') {-->
<!--                link.href = 'vacancies.html?q=' + encodeURIComponent(input.value); URL-->
<!--            } else {-->
<!--                link.href = '#';-->
<!--            }-->
<!--        });-->
<!--    </script>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Практика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vacancies.css') }}">
</head>
<body>
    <div class="hh">
        <form method="POST">
            <input class="hh-input" type="text" name="text" placeholder="Введите название профессии" required>
            <button class="hh-button" type="submit">Поиск</button>
        </form>
    </div>
    <div class="results">
        <p class="results-p">Результаты по запросу:</p>
        <p class="results-p1">{{ text }}</p>
    </div>
    <div class="results1">
        <p class="results-p2">Найдено:</p>
        <p class="results-p1">{{ vacancies|length }} вакансий</p>
    </div>
    <div class="change">
        <a class="change-resume" href="{{ url_for('index') }}"><button class="resume-button">Резюме</button></a>
        <a class="change-vacancies" href="{{ url_for('vacancies') }}"><button class="vacancies-button">Вакансии</button></a>
    </div>
    <div class="vacancies">
        <div>
            <div>
                <p class="filter-title">Фильтры:</p>
            </div>
            <div class="filters">
                <div class="filter">
                    <p class="title-p">Тип занятости</p>
                </div>
                <div class="filter">
                    <p class="filter-p">Полная занятость</p>
                </div>
                <div class="filter">
                    <p class="filter-p">Частичная занятость</p>
                </div>
                <div class="filter">
                    <p class="title-p">График</p>
                </div>
                <div class="filter">
                    <p class="filter-p">полный день</p>
                </div>
                <div class="filter">
                    <p class="filter-p">гибкий график</p>
                </div>
                <div class="filter">
                    <p class="filter-p">сменный график</p>
                </div>
                <div class="filter">
                    <p class="title-p">Опыт</p>
                </div>
                <div class="filter">
                    <p class="filter-p">не требуется</p>
                </div>
                <div class="filter">
                    <p class="filter-p">1-3 года</p>
                </div>
                <div class="filter">
                    <p class="filter-p">3-6 лет</p>
                </div>
                <div class="filter">
                    <p class="filter-p">более 6 лет</p>
                </div>
            </div>
        </div>
        <div class="cards">
            {% for vacancy in vacancies %}
            <div class="card">
                <p class="position">{{ vacancy[1] }}</p>
                <div class="line">
                    <p class="salary">{{ vacancy[4] }}</p>
                    <p class="experience">{{ vacancy[3] }}</p>
                </div>
                <div class="job">
                    <p class="employment">{{ vacancy[5] }}, </p>
                    <p class="schedule">{{ vacancy[6] }}</p>
                </div>
                <div class="company-line">
                    <p class="company1">Компания:</p>
                    <p class="company">{{ vacancy[2] }}</p>
                </div>
                <div class="address-line">
                    <p class="address1">Наш адрес:</p>
                    <p class="address">{{ vacancy[7] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>>
</body>
</html>